.magicball-app {
  width: 100%;
  height: 100%;
}

$sqrt3: 1.73205080757;
$triangleH: 200;
$triangleSide: $triangleH / $sqrt3;
.triangle {
  width: #{2 * $triangleSide}px;
  height: #{2 * $triangleSide}px;
  background-color: transparent;
  position: relative;
  color: #fff;
  text-align: center;
  padding-top: #{$triangleSide}px;
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 0px;
    width: 0px;
    border: #{$triangleSide}px solid transparent;
    border-bottom: #{$triangleH}px solid #000;
    z-index: -1;
  }
}